           
.jumbotron {
    background-color:black;
    height: 150px;
}

.jumbotron h1{
    color: #1c6288;
    text-align: center;
    
    
    }    
    .block{
        
        align-items: center;
        
    }
    
    form{
        padding-top: 30px;
    }
    

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"]

{
  height:30px;
  width:50%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding:0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  
}

body{
  color: #fff;
  background-color:#f0f0f0;
  font-family:helvetica;
  background:url('http://clevertechie.com/img/bnet-bg.jpg#0f2439') no-repeat center top;
}

.btn-success{
    background-color: #1c6288;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid #daf1ff;
     
}
.btn-success:hover {
    background-color: #13445e;
    border: 1px solid #daf1ff;
}
            
            
            
            
            
            
            